<div class="container-fluid">
    <div class="row">
        <div class="col-5 mt-3 text-center">
            <img src="../assets/images/talleres_vives.jpeg" alt="logo_talleres" class="img-fluid">
        </div>
        <div class="col-7 mt-3" style="border-left: solid black 1px;">
            <form [formGroup]="formularioContacto">
            <div class="row">
                <div class="col-5">
                    <div class="input-group">
                        <span class="input-group-text">Numero Factura*:</span>
                        <input type="text" formControlName="numeroFactura" class="form-control" name="num_factura">
                    </div>
                    <p *ngIf="this.formularioContacto.get('numeroFactura')?.errors?.['required']">
                        El numero de factura es obligatorio.
                    </p>
                    <p *ngIf="this.formularioContacto.get('numeroFactura')?.errors?.['pattern']">
                        El numero de factura debe tener entre 1-6 digitos.
                    </p>
                </div>
                <div class="col-5">
                    <div class="input-group">
                        <span class="input-group-text">Fecha*:</span>
                        <input type="text" formControlName="fecha" class="form-control" placeholder="dd/mm/yyyy" name="fecha">
                    </div>
                    <p *ngIf="this.formularioContacto.get('fecha')?.errors?.['required']">
                        La fecha es obligatoria.
                    </p>
                    <p *ngIf="this.formularioContacto.get('fecha')?.errors?.['pattern']">
                        La fecha debe estar en formato dd/mm/yyyy.
                    </p>
                    <p *ngIf="this.formularioContacto.get('fecha')?.errors?.['fecha']">
                        La fecha debe ser valida y mayor al dia actual.
                    </p>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Nombre Cliente*:</span>
                        <input type="text" class="form-control" name="nombre" formControlName="nombreCliente">
                    </div>
                    <p *ngIf="this.formularioContacto.get('nombreCliente')?.errors?.['required']">
                        El nombre es obligatorio.
                    </p>
                    <p *ngIf="this.formularioContacto.get('nombreCliente')?.errors?.['minlength']">
                        El nombre debe tener como minimo 3 caracteres.
                    </p>
                    <p *ngIf="this.formularioContacto.get('nombreCliente')?.errors?.['maxlength']">
                        El nombre debe tener como maximo 15 caracteres.
                    </p>
                </div>
                <div class="col-6">
                    <div class="input-group">
                        <span class="input-group-text">Direccion*:</span>
                        <input type="text" formControlName="direccion" class="form-control" name="direccion">
                    </div>
                    <p *ngIf="this.formularioContacto.get('direccion')?.errors?.['required']">
                        La direccion es obligatoria.
                    </p>
                    <p *ngIf="this.formularioContacto.get('direccion')?.errors?.['minlength']">
                        La direccion debe tener como minimo 5 caracteres.
                    </p>
                    <p *ngIf="this.formularioContacto.get('direccion')?.errors?.['maxlength']">
                        La direccion debe tener como maximo 25 caracteres.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="input-group mt-3">
                        <span class="input-group-text">C. Postal*:</span>
                        <input type="text" class="form-control" formControlName="cp" (keydown)="actualizarProvincia()" (keyup)="actualizarProvincia()"  name="codigo_postal">
                    </div>
                    <p *ngIf="this.formularioContacto.get('cp')?.errors?.['required']">
                        El codigo postal es obligatorio.
                    </p>
                    <p *ngIf="this.formularioContacto.get('cp')?.errors?.['pattern']">
                        El codigo postal debe ser un numero entre 01000-52999.
                    </p>
                </div>
                <div class="col-4">
                    <div class="input-group mt-3">
                        <span class="input-group-text">Provincia*:</span>
                        <input readonly value="{{provincia}}" type="text" class="form-control" name="provincia">
                    </div>
                </div>
                <div class="col-4">
                    <div class="input-group mt-3">
                        <span class="input-group-text">Ciudad*:</span>
                        <input type="text" class="form-control" name="ciudad" formControlName="ciudad">
                    </div>
                    <p *ngIf="this.formularioContacto.get('ciudad')?.errors?.['required']">
                        La ciudad es obligatoria.
                    </p>
                    <p *ngIf="this.formularioContacto.get('ciudad')?.errors?.['minlength']">
                        La ciudad debe tener como minimo 5 caracteres.
                    </p>
                    <p *ngIf="this.formularioContacto.get('ciudad')?.errors?.['maxlength']">
                        La ciudad debe tener como maximo 15 caracteres.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <div class="input-group mt-3">
                        <select class="form-control text-center" formControlName="tipoDocumento" name="tipo_documento" id="tipo_documento">
                            <option value="seleccione" selected>---seleccione tipo documento---</option>
                            <option value="nie">NIE</option>
                            <option value="dni">DNI</option>
                            <option value="nif">NIF</option>
                        </select>
                    </div>
                    <p *ngIf="this.formularioContacto.get('tipoDocumento')?.errors?.['pattern']">
                        Debe seleccionar un tipo de documento valido.
                    </p>
                </div>
                <div class="col-4">
                    <div class="input-group mt-3">
                        <span class="input-group-text">Num documento*:</span>
                        <input [readonly]="formularioContacto.get('tipoDocumento')!.invalid"  type="text" class="form-control" name="num_documento" formControlName="numeroDocumento" >
                    </div>
                    <p *ngIf="this.formularioContacto.get('numeroDocumento')?.errors?.['required']">
                        El número de documento es obligatorio.
                    </p>
                    <p *ngIf="this.formularioContacto.get('numeroDocumento')?.errors?.['dni']">
                        El número de documento debe ser valido de acuerdo a su tipo.
                    </p>
                </div>
                <div class="col-3">
                    <div class="input-group mt-3">
                        <span class="input-group-text">Teléfono*:</span>
                        <input type="text" class="form-control" name="telefono" formControlName="telefono">
                    </div>
                    <p *ngIf="this.formularioContacto.get('telefono')?.errors?.['required']">
                        El telefono es obligatorio.
                    </p>
                    <p *ngIf="this.formularioContacto.get('telefono')?.errors?.['pattern']">
                        El telefono debe tener 9 digitos y empezar por 6,7,8 o 9.
                    </p>
                </div>
            </div>
            <div class="input-group mt-3">
                <span class="input-group-text">Email*:</span>
                <input type="text" class="form-control" formControlName="email" name="email">
            </div>
            <p *ngIf="this.formularioContacto.get('email')?.errors?.['required']">
                El email es obligatorio.
            </p>
            <p *ngIf="this.formularioContacto.get('email')?.errors?.['email']">
                El email debe ser valido.
            </p>
        </form>
        </div>
    </div>
    <br>
    <div class="m-5">
    <form [formGroup]="formularioArticulo">
        <div class="row">
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">Articulo:*:</span>
                <input type="text" formControlName="nombreArticulo" class="form-control" name="nombreArticulo">
            </div>
            <p *ngIf="this.formularioArticulo.get('nombreArticulo')?.errors?.['required']">
                El nombre del articulo es obligatorio.
            </p>
            <p *ngIf="this.formularioArticulo.get('nombreArticulo')?.errors?.['minlength']">
                El nombre del articulo debe tener minimo 3 caracteres.
            </p>
            <p *ngIf="this.formularioArticulo.get('nombreArticulo')?.errors?.['maxlength']">
                El nombre del articulo debe tener maximo 15 caracteres.
            </p>
        </div>
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">Cantidad*:</span>
                <input type="text" formControlName="cantidad" class="form-control" name="cantidad">
            </div>
            <p *ngIf="this.formularioArticulo.get('cantidad')?.errors?.['required']">
                La cantidad es obligatoria.
            </p>
            <p *ngIf="this.formularioArticulo.get('cantidad')?.errors?.['pattern']">
                La cantidad debe ser un numero entre 1 y 9999.
            </p>
        </div>
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">Precio*:</span>
                <input type="text" formControlName="precio" class="form-control" name="precio">
            </div>
            <p *ngIf="this.formularioArticulo.get('precio')?.errors?.['required']">
                El precio es obligatorio.
            </p>
            <p *ngIf="this.formularioArticulo.get('precio')?.errors?.['min']">
                El precio debe ser igual o mayor a 1.
            </p>
            <p *ngIf="this.formularioArticulo.get('precio')?.errors?.['max']">
                El precio debe ser igual o menos a 10000.
            </p>
        </div>
        <div class="col-2">
            <div class="input-group">
                <span class="input-group-text">IVA*:</span>
                <select class="form-control text-center" formControlName="ivaSeleccionado">
                    <option value="21">21%</option>
                    <option value="10">10%</option>
                    <option value="4">4%</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="agregarProducto()">Añadir producto</button>
        </div>
    </div>
    </form>
    
    <table class="table mt-5" >
        <thead>
          <tr>
            <th>Numero</th>
            <th>Articulo</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>IVA %</th>
            <th>IVA</th>
            <th>Base</th>
            <th>Total</th>
            <th>BORRAR</th>
          </tr>
        </thead>
        <tbody *ngFor="let linea of lineaPedido">
          <tr>
            <td>{{linea.numero}}</td>
            <td>{{linea.articulo}}</td>
            <td>{{linea.cantidad}}</td>
            <td>{{linea.precio}}</td>
            <td>{{linea.iva_porcentaje}}</td>
            <td>{{linea.iva}}</td>
            <td>{{linea.base}}</td>
            <td>{{linea.total}}</td>
            <td><button type="button" class="btn btn-danger" (click)="borrarProducto(linea.numero)">borrar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div class="m-5 row">
        <div class="col-6">
            <div class="row mt-3">
                <div class="col-6 text-center">
                        <label><b>Base Imponible (21%):</b></label>
                        <input type="text"  class="form-control text-center" readonly [(ngModel)]="baseImponible21">
                </div>
                <div class="col-6 text-center">
                    <label><b>IVA (21%):</b></label>
                    <input type="text"  class="form-control text-center" readonly [(ngModel)]="iva21">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <label><b>Base Imponible (10%):</b></label>
                    <input type="text"  class="form-control text-center" readonly [(ngModel)]="baseImponible10">
                </div>
                <div class="col-6 text-center">
                    <label><b>IVA (10%):</b></label>
                    <input type="text"  class="form-control text-center" readonly [(ngModel)]="iva10">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6 text-center">
                    <label><b>Base Imponible (4%):</b></label>
                    <input type="text"  class="form-control text-center" readonly [(ngModel)]="baseImponible4">
                </div>
                <div class="col-6 text-center">
                    <label><b>IVA (4%):</b></label>
                    <input type="text"  class="form-control text-center" readonly [(ngModel)]="iva4">
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <label><b>Precio total:</b></label>
                <input type="text"  class="form-control text-center" readonly [(ngModel)]="precioTotal">
            </div>
        </div>
        <div class="col-6 text-center mt-5">
            <span style="font-size: large;">Introduzca la suma de los números</span>
            <div style="border: solid black 1px;margin-left: 120px;margin-right: 120px;">
                <span style="font-size: 30px;">{{numero1}} + {{numero2}}</span>
                <input type="text"  class="form-control text-center mt-3" style="border: black solid 2px;"   [(ngModel)]="suma">
                <button type="button" class="btn btn-success mt-3 mb-3 w-65" (click)="validarFactura()">EnviarFactura</button>
            </div>
        </div>
    </div>
</div>